@import "tailwindcss";

@theme {
    --color-ci-dark-brown: #130d00;
    --color-ci-green: #0f4e20;
    --color-ci-dark-cyan: #0e4149;
    --color-ci-white: #ced3da;
    --color-ci-pale-cyan: #b8ceec;
    --color-ci-dark-red: #450a04;
}